<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy a RequestManager instance.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REQMGR_VERSION</name>
          <description>Override reqmgr version: format &quot;@0.8.1pre1&quot; etc.
Blank for current deploy version.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SCRAM_ARCH</name>
          <description></description>
          <defaultValue>slc5_amd64_gcc461</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CMSWEB_VERSION</name>
          <description>HTTP group tag to use. Blank for latest.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REQMON_VERSION</name>
          <description>Reqmon tag to use</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categories>
        <string>full-deploy-infrastructure</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.2">
    <scms>
      <hudson.scm.SubversionSCM plugin="subversion@1.42">
        <locations>
          <hudson.scm.SubversionSCM_-ModuleLocation>
            <remote>https://github.com/dmwm/deployment/trunk@HEAD</remote>
            <local>deployment</local>
          </hudson.scm.SubversionSCM_-ModuleLocation>
          <hudson.scm.SubversionSCM_-ModuleLocation>
            <remote>https://github.com/dmwm/WMCore/trunk@HEAD</remote>
            <local>WMCore</local>
          </hudson.scm.SubversionSCM_-ModuleLocation>
        </locations>
        <excludedRegions></excludedRegions>
        <includedRegions></includedRegions>
        <excludedUsers></excludedUsers>
        <excludedRevprop></excludedRevprop>
        <excludedCommitMessages></excludedCommitMessages>
        <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
      </hudson.scm.SubversionSCM>
    </scms>
  </scm>
  <assignedNode>reqmgr-slaves</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 * * * *</spec>
    </hudson.triggers.SCMTrigger>
    <org.jenkinsci.plugins.urltrigger.URLTrigger plugin="urltrigger@0.23">
      <spec>*/5 * * * *</spec>
      <entries>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/reqmgr.slc5_amd64_gcc461.comp.pre</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>true</inspectingContent>
          <contentTypes>
            <org.jenkinsci.plugins.urltrigger.content.SimpleContentType/>
          </contentTypes>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/reqmon.slc5_amd64_gcc461.comp.pre</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>true</inspectingContent>
          <contentTypes>
            <org.jenkinsci.plugins.urltrigger.content.SimpleContentType/>
          </contentTypes>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
      </entries>
      <labelRestriction>false</labelRestriction>
    </org.jenkinsci.plugins.urltrigger.URLTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

# stop reqmgr
if [ -e $PWD/current ]; then
  echo &quot;Stopping existing ReqMgr services&quot;
  $PWD/current/config/reqmgr/manage stop &apos;I did read documentation&apos;
  $PWD/current/config/couchdb/manage stop &apos;I did read documentation&apos;

  # stop frontend
  (. $PWD/current/apps/frontend/etc/profile.d/init.sh &amp;&amp; httpd -f $PWD/state/frontend/server.conf -k stop)
fi

rm -rf install current
# remove old cronjobs
crontab -r || true # dont die if no old crontab

# stop old processes
pkill -9 -f $PWD || true</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>set +x

rm -rf install

# skip sudo usage - just adds to /etc etc.
perl -p -i -e &apos;s/.*sudo.*/:/&apos; $PWD/deployment/frontend/deploy

# link to hostcert
mkdir -p certs
[ -e certs/hostcert.pem ] || $(ln -s /etc/grid-security/hostcert.pem certs/hostcert.pem)
[ -e certs/hostkey.pem ] || $(ln -s /etc/grid-security/hostkey.pem certs/hostkey.pem)
export X509_USER_CERT=$PWD/certs/hostcert.pem
export X509_USER_KEY=$PWD/certs/hostkey.pem

if [ X$REQMGR_VERSION == X ]; then
  REQMGR_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/reqmgr.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

if [ X$REQMON_VERSION == X ]; then
  REQMON_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/reqmon.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

if [ X${CMSWEB_VERSION} == X ]; then
  CMSWEB_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/cmsweb.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

# note single user install
# need couchdb to get couchdb manage commands
echo &quot;$PWD/deployment/Deploy -R cmsweb${CMSWEB_VERSION} -p $HOME/auth -t install -r comp=comp.pre -A $SCRAM_ARCH -s &apos;prep sw post&apos; $PWD admin frontend backend couchdb reqmgr${REQMGR_VERSION} reqmon${REQMON_VERSION}&quot;
$PWD/deployment/Deploy -R cmsweb${CMSWEB_VERSION} -p $HOME/auth -t install -r comp=comp.pre -A $SCRAM_ARCH -s &apos;prep sw post&apos; $PWD admin frontend backend couchdb reqmgr${REQMGR_VERSION} reqmon${REQMON_VERSION}

# add in acdc couchapps - needed for integration tests
grep -q ACDC state/couchdb/stagingarea/acdc || echo &quot;couchapp push $PWD/WMCore/src/couchapps/ACDC http://localhost:5984/wmagent_acdc&quot; &gt;&gt; state/couchdb/stagingarea/acdc
grep -q GroupUser state/couchdb/stagingarea/acdc || echo &quot;couchapp push $PWD/WMCore/src/couchapps/GroupUser http://localhost:5984/wmagent_acdc&quot; &gt;&gt; state/couchdb/stagingarea/acdc

# patch rpm with checkout
( . current/apps/reqmgr/etc/profile.d/init.sh &amp;&amp; cd WMCore &amp;&amp; wmc-dist-patch -s reqmgr --skip-docs)
#( . current/apps/reqmon/etc/profile.d/init.sh &amp;&amp; cd WMCore &amp;&amp; wmc-dist-patch -s reqmon --skip-docs)

# delete old requests - they are no longer available in couch so they should be removed from the db also
( . current/apps/reqmgr/etc/profile.d/init.sh &amp;&amp; WMCORE_ROOT=$REGMGR_ROOT WMAGENT_CONFIG=current/config/reqmgr/ReqMgrConfig.py PYTHONPATH=$PWD/current/auth/reqmgr:$PYTHONPATH requestDb delete all &gt; /dev/null)

# change data dir to patched data dir
perl -p -i -e &apos;s!data!xdata!&apos; current/config/reqmgr/ReqMgrConfig.py

# standard deploy assumes running as root - need to change a few things
HTTPD_CONF=$PWD/state/frontend/server.conf

# run under current user
perl -p -i -e &apos;s/^User/#User/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/^Group/#Group/&apos; ${HTTPD_CONF}

# non-privileged port
perl -p -i -e &apos;s/Listen 80/Listen 8080/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:80/\*:8080/&apos; ${HTTPD_CONF}

perl -p -i -e &apos;s/Listen 443/Listen 8443/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:443/\*:8443/&apos; ${HTTPD_CONF}

# add test cert credentials
[ -e extra-certificates.txt ] &amp;&amp; cat extra-certificates.txt &gt;&gt; current/config/frontend/extra-certificates.txt
[ -e sitedb-mapping.py ] &amp;&amp; (. current/apps/reqmgr/etc/profile.d/init.sh &amp;&amp; ./sitedb-mapping.py --mapping-file=sitedb-mapping.txt current/auth/frontend/users.db )

# couchdb on 8443
perl -p -i -e &apos;s!https://%s/couchdb!https://%s:8443/couchdb!&apos; current/config/reqmgr/ReqMgrConfig.py

# get useful error messages
perl -p -i -e &apos;s!config.Webtools.environment.*!config.Webtools.environment=&quot;development&quot;!&apos; current/config/reqmgr/ReqMgrConfig.py

# divorce processes so they dont get killed
# https://wiki.jenkins-ci.org/display/JENKINS/ProcessTreeKiller

# start couchdb
BUILD_ID=dontKillMe current/config/couchdb/manage start &apos;I did read documentation&apos;

# start reqmgr - needs to be started with full path (else import error)
BUILD_ID=dontKillMe $PWD/current/config/reqmgr/manage start &apos;I did read documentation&apos;

#start frontend (manage assumes root so cant be used)
(. current/apps/frontend/etc/profile.d/init.sh &amp;&amp; BUILD_ID=dontKillMe httpd -f $PWD/state/frontend/server.conf -k start)</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="chucknorris@0.4">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy-workqueue</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <org.jenkinsci.plugins.emotional__jenkins.EmotionalJenkinsPublisher plugin="emotional-jenkins-plugin@1.1"/>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4">
      <includes>extra-certificates.txt,sitedb-mapping.py,sitedb-mapping.txt</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>