jobs/*/*
!jobs/*/config.xml
*.log
*.log.*
log/
*.json
.owner
*.bak
fingerprints/
userContent/readme.txt
updates/
tools/
plugins/
repo/*/cahce/
monitoring/
*.key
users/
*.secrets
war/
.subversion/
com.cloudbees.jenkins.GitHubPushTrigger.xml
queue.xml
