<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy a global workqueue instance</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>WORKQUEUE_VERSION</name>
          <description>Override workqueue version: format &quot;@0.8.1pre1&quot; etc.
Blank for latest version.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SCRAM_ARCH</name>
          <description></description>
          <defaultValue>slc5_amd64_gcc461</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>CMSWEB_VERSION</name>
          <description>HTTP group tag to use. Blank for latest.</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categories>
        <string>full-deploy-infrastructure</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.2">
    <scms>
      <hudson.scm.SubversionSCM plugin="subversion@1.42">
        <locations>
          <hudson.scm.SubversionSCM_-ModuleLocation>
            <remote>https://github.com/dmwm/deployment/trunk@HEAD</remote>
            <local>deployment</local>
          </hudson.scm.SubversionSCM_-ModuleLocation>
          <hudson.scm.SubversionSCM_-ModuleLocation>
            <remote>https://github.com/dmwm/WMCore/trunk@HEAD</remote>
            <local>WMCore</local>
          </hudson.scm.SubversionSCM_-ModuleLocation>
        </locations>
        <excludedRegions></excludedRegions>
        <includedRegions></includedRegions>
        <excludedUsers></excludedUsers>
        <excludedRevprop></excludedRevprop>
        <excludedCommitMessages></excludedCommitMessages>
        <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
      </hudson.scm.SubversionSCM>
    </scms>
  </scm>
  <assignedNode>workqueue-slaves</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <org.jenkinsci.plugins.urltrigger.URLTrigger plugin="urltrigger@0.23">
      <spec>*/5 * * * *</spec>
      <entries>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.slc5_amd64_gcc461.comp.pre</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>false</inspectingContent>
          <contentTypes/>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://dev-cms-wq.cern.ch:8443/couchdb</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>true</checkStatus>
          <statusCode>500</statusCode>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>false</inspectingContent>
          <contentTypes/>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
      </entries>
      <labelRestriction>false</labelRestriction>
    </org.jenkinsci.plugins.urltrigger.URLTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

# stop couchdb
if [ -e $PWD/current ]; then
  echo &quot;Stopping services&quot;
  $PWD/current/config/couchdb/manage stop &apos;I did read documentation&apos;

  # stop frontend
  (. $PWD/current/apps/frontend/etc/profile.d/init.sh &amp;&amp; httpd -f $PWD/state/frontend/server.conf -k stop)
fi

rm -rf install current
# remove old cronjobs
crontab -r || true # dont die if no old crontab

# stop old processes
pkill -9 -f $PWD || true</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>set -x

rm -rf install

# skip sudo usage - just adds to /etc etc.
perl -p -i -e &apos;s/.*sudo.*/:/&apos; $PWD/deployment/frontend/deploy

# link to hostcert
mkdir -p certs
[ -e certs/hostcert.pem ] || $(ln -s /etc/grid-security/hostcert.pem certs/hostcert.pem)
[ -e certs/hostkey.pem ] || $(ln -s /etc/grid-security/hostkey.pem certs/hostkey.pem)

# if not provided get latest version
#WORKQUEUE_VERSION=${WORKQUEUE_VERSION+&apos;@&apos;&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)&quot;}
if [ X$WORKQUEUE_VERSION == X ]; then
  WORKQUEUE_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

if [ X${CMSWEB_VERSION} == X ]; then
  CMSWEB_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/cmsweb.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

# note single user install
# need couchdb to get couchdb manage commands
echo &quot;$PWD/deployment/Deploy -R  cmsweb${CMSWEB_VERSION} -p $HOME/auth -t install -r comp=comp.pre -A $SCRAM_ARCH -s &apos;prep sw post&apos; $PWD admin frontend backend couchdb workqueue${WORKQUEUE_VERSION}&quot;
$PWD/deployment/Deploy -R  cmsweb${CMSWEB_VERSION} -p $HOME/auth -t install -r comp=comp.pre -A $SCRAM_ARCH -s &apos;prep sw post&apos; $PWD admin frontend backend couchdb workqueue${WORKQUEUE_VERSION}

# patch rpm with checkout
( . current/apps/workqueue/etc/profile.d/init.sh &amp;&amp; cd WMCore &amp;&amp; wmc-dist-patch -s workqueue --skip-docs)

# standard deploy assumes running as root - need to change few things
HTTPD_CONF=$PWD/state/frontend/server.conf

# run under current user
perl -p -i -e &apos;s/^User/#User/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/^Group/#Group/&apos; ${HTTPD_CONF}

# non-privileged port
perl -p -i -e &apos;s/Listen 80/Listen 8080/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:80/\*:8080/&apos; ${HTTPD_CONF}

perl -p -i -e &apos;s/Listen 443/Listen 8443/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:443/\*:8443/&apos; ${HTTPD_CONF}

# add test agent cert credentials
[ -e extra-certificates.txt ] &amp;&amp; cat extra-certificates.txt &gt;&gt; current/config/frontend/extra-certificates.txt
[ -e sitedb-mapping.py ] &amp;&amp; (. current/apps/workqueue/etc/profile.d/init.sh &amp;&amp; ./sitedb-mapping.py --mapping-file=sitedb-mapping.txt current/auth/frontend/users.db )

# couchdb on 8443
perl -p -i -e &apos;s!https://%s/couchdb!https://%s:8443/couchdb!&apos; current/config/workqueue/GlobalWorkQueueConfig.py
perl -p -i -e &apos;s!https://%s/reqmgr/reqMgr&quot; % HOST!https://dev-cms-reqmgr.cern.ch:8443/reqmgr/reqMgr&quot;!&apos; current/config/workqueue/GlobalWorkQueueConfig.py

# increase frequency of cron jobs - reduce testing turnaround
(crontab -l &amp;&amp; echo &quot;*/2 * * * * $PWD/current/config/workqueue/workqueue_task reqmgr_sync&quot;) | crontab -
(crontab -l &amp;&amp; echo &quot;1-59/2 * * * * $PWD/current/config/workqueue/workqueue_task housekeep&quot;) | crontab -

# divorce processes so they dont get killed
# https://wiki.jenkins-ci.org/display/JENKINS/ProcessTreeKiller

# start couchdb
BUILD_ID=dontKillMe current/config/couchdb/manage start &apos;I did read documentation&apos;

#start frontend (manage assumes root so cant be used)
(. current/apps/frontend/etc/profile.d/init.sh &amp;&amp; BUILD_ID=dontKillMe httpd -f $PWD/state/frontend/server.conf -k start)</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="chucknorris@0.4">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy-wmagent,deploy-wmagent</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4">
      <includes>extra-certificates.txt,sitedb-mapping.py,sitedb-mapping.txt</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>