<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy a global workqueue instance</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>WORKQUEUE_VERSION</name>
          <description>Override workqueue version: format &quot;@0.8.1pre1&quot; etc.
Blank for latest version.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SCRAM_ARCH</name>
          <description></description>
          <defaultValue>slc5_amd64_gcc461</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn+ssh://swakef@svn.cern.ch/reps/CMSDMWM/Infrastructure/trunk/Deployment</remote>
        <local>cfg</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
  </scm>
  <assignedNode>workqueue-slaves</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
    <org.jenkinsci.plugins.urltrigger.URLTrigger>
      <spec>*/5 * * * *</spec>
      <entries>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.slc5_amd64_gcc461.comp.pre</url>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <checkLastModificationDate>true</checkLastModificationDate>
          <inspectingContent>false</inspectingContent>
          <contentTypes/>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
      </entries>
    </org.jenkinsci.plugins.urltrigger.URLTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

# stop couchdb
if [ -e $PWD/current ]; then
  echo &quot;Stopping services&quot;
  $PWD/current/config/couchdb/manage stop &apos;I did read documentation&apos;

  # stop frontend
  (. $PWD/current/apps/frontend/etc/profile.d/init.sh &amp;&amp; httpd -f $PWD/state/frontend/server.conf -k stop)
fi

rm -rf install current
# remove old cronjobs
crontab -r || true # dont die if no old crontab
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>set -x

rm -rf install

# make workqueue deploy work in single user mode
#patch -N -d cfg -p2 &lt; /var/lib/jenkins/0001-workqueue-0.8.15.patch

# skip sudo usage - just adds to /etc etc.
perl -p -i -e &apos;s/.*sudo.*/:/&apos; $PWD/cfg/frontend/deploy

# link to hostcert
mkdir -p certs
[ -e certs/hostcert.pem ] || $(ln -s /etc/grid-security/hostcert.pem certs/hostcert.pem)
[ -e certs/hostkey.pem ] || $(ln -s /etc/grid-security/hostkey.pem certs/hostkey.pem)

# if not provided get latest version
#WORKQUEUE_VERSION=${WORKQUEUE_VERSION+&apos;@&apos;&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)&quot;}
if [ X$WORKQUEUE_VERSION == X ]; then
  WORKQUEUE_VERSION=&quot;@&quot;$(curl -s http://cms-dmwm-builds.web.cern.ch/cms-dmwm-builds/workqueue.$SCRAM_ARCH.comp.pre | awk &apos;{print $4}&apos; | cut -d+ -f3)
fi

# note single user install
# need couchdb to get couchdb manage commands
$PWD/cfg/Deploy -p $HOME/auth -t install -r comp=comp.pre -A $SCRAM_ARCH -s &apos;prep sw post&apos; $PWD admin frontend backend couchdb workqueue${WORKQUEUE_VERSION}

# standard deploy assumes running as root - need to change few things
HTTPD_CONF=$PWD/state/frontend/server.conf

# run under current user
perl -p -i -e &apos;s/^User/#User/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/^Group/#Group/&apos; ${HTTPD_CONF}

# non-privileged port
perl -p -i -e &apos;s/Listen 80/Listen 8080/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:80/\*:8080/&apos; ${HTTPD_CONF}

perl -p -i -e &apos;s/Listen 443/Listen 8443/&apos; ${HTTPD_CONF}
perl -p -i -e &apos;s/\*:443/\*:8443/&apos; ${HTTPD_CONF}

# add test agent cert credentials
cat extra-certificates.txt &gt;&gt; current/config/frontend/extra-certificates.txt
./sitedb-mapping.sh sitedb-mapping.txt current/auth/frontend/users.db

# FIXME: Remove when updated beyond 0.8.8
perl -p -i -e &apos;s!domain=self.getDomainName\(\)!domain=&quot;&quot;!&apos; current/apps/workqueue/lib/python2.6/site-packages/WMCore/Services/Requests.py

# couchdb on 8443
perl -p -i -e &apos;s!https://%s/couchdb!https://%s:8443/couchdb!&apos; current/config/workqueue/GlobalWorkQueueConfig.py
perl -p -i -e &apos;s!https://%s/reqmgr/reqMgr&quot; % HOST!https://dev-cms-reqmgr.cern.ch:8443/reqmgr/reqMgr&quot;!&apos; current/config/workqueue/GlobalWorkQueueConfig.py

# divorce processes so they dont get killed
# https://wiki.jenkins-ci.org/display/JENKINS/ProcessTreeKiller

# start couchdb
BUILD_ID=dontKillMe current/config/couchdb/manage start &apos;I did read documentation&apos;

#start frontend (manage assumes root so cant be used)
(. current/apps/frontend/etc/profile.d/init.sh &amp;&amp; BUILD_ID=dontKillMe httpd -f $PWD/state/frontend/server.conf -k start)</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy-wmagent, wmagent-int</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
      <includes>extra-certificates.txt,sitedb-mapping.sh,sitedb-mapping.txt</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>